body {
    font-family: "Lato", sans-serif;
}

.wrapper {
    display: inline-block;
    position: relative;
    z-index: 1000;
    width: 100%;
}

.open {
    width: 100%;
}

.closed {
    width: 0;
}

.sidenav {
    top: 15%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #fff;
    opacity: 0.7;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidenav button {
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
    background-color: #fff;
    color: #000;
}

.sidenav button:hover {
    color: rgb(255, 138, 138);
}

.sidenav img {
    height: 50%;
    width: auto;

}

.sidenav article {
    float: left;
    margin: 2% 5% 2% 5%;
    width: 40%;

}

.sidenav .closebtn {
    /* top: 0;
    right: 25px; */
    font-size: 36px;
    margin-left: 50px;
}

/* #main {
    z-index: 1000;
} */

#main button {
    border: none;
    position: fixed;
    bottom: 0;
    right: 0;
    display: inline-block;
    font-size: 30px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);

}

#main button:hover {
    cursor: pointer;
    color: rgb(255, 138, 138)
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 300ms;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 300ms;
}



#summary {
    width: 100%;
    margin: 2% 0 2% 0;
    line-height: 1.5em;
}

#favorite {
    width: 100%;
    font-size: 1.2em;
    margin: 2% 0 2% 0;
}

#user-profile {
    float: right;
    margin: 2% 5% 2% 5%;
    width: 40%;
}

#user-profile h2 {
    font-size: 1.2em;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav button {
        font-size: 18px;
    }
}